
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

$body-color: #DBE0F9;
$brand-primary: #6065D9;
$brand-light-primary: #17D7FA;

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: $body-color;
  font-family: 'Roboto', sans-serif;
  .svg-top

{
  position: absolute;
  top: -900px;
  right: -300px;
}

.svg-bottom {
  position: absolute;
  bottom: -500px;
  left: -200px;
}

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .wrapper

{
  box-shadow: 8px 8px #17D7FA;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  width: 350px;
  z-index: 1;
  header

{
  margin-bottom: 40px;
  .logo

{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: $brand-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  span

{
  font-size: 18px;
  color: #fff;
}

}

h1 {
  color: $brand-primary;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 40px;
}

p {
  color: $brand-primary;
  font-size: 18px;
  font-weight: 300;
  margin: 5px 0 0 0;
}

}

.main-content {
  input [type=email], input[type=password]

{
  border: none;
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0;
  font-size: 18px;
  text-align: center;
  color: #999;
  &::placeholder

{
  color: #999;
  font-size: 18px;
  font-weight: 300;
}

&:focus {
  outline: none;
  background-color: #DBE0F9;
  border-radius: 10px;
  color: black;
}

&:hover {
  box-shadow: 0px 0px 10px #6065D9;
  border-radius: 10px;
}

}

.line {
  width: 100%;
  height: 2px;
  background-color: #99999955;
}

button {
  background: linear-gradient(to right, $brand-primary, $brand-light-primary);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  display: block;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  &:hover

{
  box-shadow: 0px 0px 10px #6065D9;
}

}
}

input[type=checkbox] {
  position: absolute;
  margin-left: -20px;
  width: 20px;
  height: 15px;
}

label {
  padding: 5px 0;
  position: absolute;
  font-size: xx-small;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 60px;
  p

{
  margin: 0;
  font-weight: 100;
  a

{
  color: $brand-primary;
  text-decoration: none;
  &:hover

{
  text-shadow: 0px 0px 10px #6065D9;
}

}
}
}
}
}

@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    margin: 0 10px !important;
    padding: 30px;
    header

{
  h1

{
  font-size: 30px;
}

}
}
}




